.DS_Store

# ignore files in folder foo
build/*
Build/*
Library/*
.vscode/*
EXAMPLE/*.root
EXAMPLE/EXAMPLE

.*root

dev/*
daveMuon/*
CURRENT/*
Trouble/*

# but keep the folder
!Library/.keep
!Build/.keep